footer {
position: absolute;
background-color: $black;
text-align: center;
justify-content: center;
width: 100%;
}

#footer-container {

    @include breakpoint-up(large){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "logo social"
            "links copyright";
        gap: 1rem;
        
    }
}

.footer-logo {
    margin-bottom: 40px;

    @include breakpoint-up(large) {
    display: flex;
    justify-content: flex-start;
    grid-area: logo;
    }
}

.footer-links {
    position: relative;

.footer-links:not(:last-child) {
    margin-bottom: 30px;
}
        
    @include breakpoint-down(medium) {
        display: flex;
        flex-direction: column;

        a  {
        margin-bottom: 20px;
        }
    }

    @include breakpoint-up(large) {
        display: flex;
        flex-direction: row;
        grid-area: links;

        a {
        padding-right:30px;
                
            &::before {
                content: "";
                position: relative;
                display: block;
                width: 1.625rem;
                height: 0.15rem;
                margin: 0 auto;
                left: 0;
                right: 0;
                bottom: -30px;
                color: $white;
                opacity: 0;
                transition: opacity 200ms ease-in-out;
    
            }
            
            &:hover {
                color: $white;
    
                &::before {
                opacity: 1;
                background-color: $white;
                }
            }
        }

    }

}

.footer-social {
    margin-bottom: 20px;
    margin-top: 40px;

    @include breakpoint-down(large) {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    a {
    padding-right: 10px;

        &::before {
            content: "";
            position: relative;
            display: block;
            width: 1.625rem;
            height: 0.15rem;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: -35px;
            color: $white;
            opacity: 0;
            transition: opacity 200ms ease-in-out;

            }
        &:hover {
            color: $white;

            &::before {
                 opacity: 1;
                background-color: $white;
                }
            }
        }
        
    @include breakpoint-up(large){
        display: flex;
        justify-content: flex-end;
        grid-area: social;
        margin-bottom: 0px;
        margin-top: 0px;
        }
}

.footer-copyright {
    color: $darkGray;

    @include breakpoint-up(large){
        grid-area: copyright;
        display: flex;
        justify-content: flex-end;
        }
}